.menu:hover{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 255, 106);
}

.hero{
    background-image:
    url("./assets-20230822T013507Z-001/assets/image/bg-header.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
}

.hero-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.377);
}

.hero-text h1{
    font-size: 55px;
}

.discount{
    background-image:  url(assets-20230822T013507Z-001/assets/image/wood.jpg);
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;

    /* centering vertical horizontal */
    display: flex;
    align-items: center;
    justify-content: center;

    /* positioning */
    position: relative;
    top: -40px;
}

.text-menu{
    position: relative;
    top: -40px;
}

.color{
    background-color: darkgray;
}
